@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

/* font-family: 'Noto Sans KR', serif; */

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
div,
header,
nav,
main,
footer,
section,
article,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* 공통 */

body {
  font-size: 1rem;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
}

/* ROOT */

:root {
  --item-gap: 6px;
  --bg-main: rgba(245, 208, 66, 0.95);
  --bg-accent: rgba(245, 208, 66, 0.95);

  --main-color: #f7f6f5;
  --sub-color: #003a84;
  --accent-color: #FDD20E;
  --white-color: #101820;
}


/* 공통 fixed 작업 */

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero_bg_box {
  width: 40%;
  height: 100vh;
  background-color: var(--white-color);
  opacity: 0.03;
  position: fixed;
  top: 0;
  right: 0;
}

.main_nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 9vw;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nav_conts {
  position: absolute;
  color: var(--white-color);
  text-align: left;
  font-weight: 900;
  font-size: 22px;
}

.nav_conts:hover {
  color: var(--accent-color);
}

.nav_work {
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_about {
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_link {
  position: fixed;
  top: 4vw;
  left: 4vw;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.home_link a {
  color: var(--white-color);
}

.home_link a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.mail_link {
  position: fixed;
  bottom: 4vw;
  left: 4vw;
  width: 44px;
  height: 44px;
  background-color: var(--accent-color);
  border-radius: 100%;
}

.mail_link a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mail_link a svg {
  width: 60%;
  height: 100%;
  fill: var(--main-color);
}

.mail_link:hover {
  background-color: var(--sub-color);
}
.mail_link:hover a svg {
  fill: var(--accent-color);
}

@media screen and (max-width: 800px) {
  .main_nav {
    border: none;
    padding-top: 4vw;
    padding-right: 4vw;

    box-sizing: content-box;
  }
  .nav_conts {
    margin-top: 5px;
    font-size: 18px;
    position: relative;
  }
  .home_link {
    font-size: 11.7px;
  }
}
